@font-face {
  font-family: 'MuliBold';
  src: url('fonts/MuliBold.eot');
  src: url('fonts/MuliBold.eot') format('embedded-opentype'), url('fonts/MuliBold.woff2') format('woff2'), url('fonts/MuliBold.woff') format('woff'), url('fonts/MuliBold.ttf') format('truetype'), url('fonts/MuliBold.svg#MuliBold') format('svg');
}
@font-face {
  font-family: 'MuliRegular';
  src: url('fonts/MuliRegular.eot');
  src: url('fonts/MuliRegular.eot') format('embedded-opentype'), url('fonts/MuliRegular.woff2') format('woff2'), url('fonts/MuliRegular.woff') format('woff'), url('fonts/MuliRegular.ttf') format('truetype'), url('fonts/MuliRegular.svg#MuliRegular') format('svg');
}
html,
body {
  background-color: #f1f1f1;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.header {
  background-color: #f66761;
  margin: 0 10px;
  display: flex;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 75px;
  padding: 0 25px;
  justify-content: space-between;
}
@media screen and (max-width: 460px) {
  .header {
    padding: 0;
    flex-wrap: wrap;
    height: 100px;
  }
}
.header .logotype {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 460px) {
  .header .logotype {
    width: 100%;
    justify-content: center;
  }
}
.header .logotype img {
  width: 80px;
}
@media screen and (max-width: 235px) {
  .header .logotype img {
    width: 64px;
  }
}
.header .icon {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 460px) {
  .header .icon {
    width: 100%;
    justify-content: center;
  }
}
.header .icon a {
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  color: #a4312c;
  font-size: 20px;
  margin-right: 20px;
  position: relative;
}
@media screen and (max-width: 235px) {
  .header .icon a {
    font-size: 14px;
    margin-right: 10px;
  }
}
.header .icon span {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 14px;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (max-width: 235px) {
  .header .icon span {
    font-size: 10px;
    width: 12px;
    height: 12px;
    right: -7px;
    top: -7px;
  }
}
.table-navigation .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px 0 50px;
}
@media (max-width: 650px) {
  .table-navigation .nav {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }
}
.table-navigation .nav .title {
  font-family: 'MuliBold';
  font-size: 28px;
}
.table-navigation .nav .way a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-family: 'MuliRegular';
}
.table-navigation .nav .way i {
  color: #f66761;
  margin: 5px;
}
.table-navigation .selection {
  margin: 0 30px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 470px) {
  .table-navigation .selection {
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
}
.table-navigation .selection .left-table-nav {
  display: flex;
  align-items: center;
}
@media (max-width: 470px) {
  .table-navigation .selection .left-table-nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.table-navigation .selection .left-table-nav .sel select {
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 30px 10px 10px;
  font-family: 'MuliRegular';
  outline: none;
}
.table-navigation .selection .left-table-nav .sel select:hover {
  cursor: pointer;
}
.table-navigation .selection .left-table-nav .sel button {
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  background-color: #000;
  outline: none;
  margin-right: 10px;
}
.table-navigation .selection .left-table-nav .sel button:hover {
  cursor: pointer;
}
.table-navigation .selection .left-table-nav .sel i {
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
}
.table-navigation .selection .left-table-nav .sel span {
  color: #cccccc;
  font-size: 22px;
  font-family: 'MuliRegular';
}
@media (max-width: 470px) {
  .table-navigation .selection .left-table-nav .sel span {
    display: none;
  }
}
.table-navigation .selection .left-table-nav .find {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}
@media (max-width: 470px) {
  .table-navigation .selection .left-table-nav .find {
    margin: 0;
  }
}
.table-navigation .selection .left-table-nav .find i {
  position: absolute;
  color: #f66761;
  margin-left: 10px;
  margin-right: 20px;
}
.table-navigation .selection .left-table-nav .find input {
  display: inline-block;
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  background-color: #fff;
  outline: none;
  padding: 10px 10px 10px 30px;
  width: 120px;
}
.table-navigation .selection .right-table-nav {
  display: flex;
}
@media (max-width: 330px) {
  .table-navigation .selection .right-table-nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.table-navigation .selection .right-table-nav i {
  color: #f66761;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
}
.customers {
  overflow-x: hidden;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1370px) {
  .customers {
    justify-content: center;
  }
}
@media (max-width: 345px) {
  .customers {
    margin: 0;
  }
}
.customers .booking-block {
  margin-top: 15px;
  margin-left: 15px;
}
@media (max-width: 345px) {
  .customers .booking-block {
    margin: 0 ;
  }
}
.customers .booking-block .item-block {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
}
.customers .booking-block .item-block .general {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.customers .booking-block .item-block .general .subscriber {
  display: flex;
  flex-direction: column;
  position: relative;
}
.customers .booking-block .item-block .general .subscriber .user-pic {
  overflow: hidden;
}
.customers .booking-block .item-block .general .subscriber .user-pic img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.customers .booking-block .item-block .general .subscriber .status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #fff;
  left: 40%;
  bottom: 30px;
}
.customers .booking-block .item-block .general .subscriber .status-yellow {
  background-color: #edb22c;
}
.customers .booking-block .item-block .general .subscriber .status-silver {
  background-color: #7d969d;
}
.customers .booking-block .item-block .general .subscriber .status-orange {
  background-color: #d58a5a;
}
.customers .booking-block .item-block .general .subscriber .status-blue {
  background-color: #c6e2e9;
}
.customers .booking-block .item-block .general .subscriber .name {
  font-family: 'MuliRegular';
  font-size: 16px;
  margin-top: 10px;
}
.customers .booking-block .item-block .general .arrow {
  display: inline-block;
  padding-bottom: 25px;
  margin: 10px;
}
@media (max-width: 340px) {
  .customers .booking-block .item-block .general .arrow {
    display: inline-grid;
  }
}
.customers .booking-block .item-block .general .arrow i {
  font-size: 16px;
  color: #dfdfdf;
}
.customers .booking-block .item-block .information {
  margin-top: 5px;
}
.customers .booking-block .item-block .information .info-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.customers .booking-block .item-block .information .info-row i {
  font-size: 20px;
  padding-bottom: 10px;
}
.customers .booking-block .item-block .information .info-row .red {
  color: #f66761;
}
.customers .booking-block .item-block .information .info-row .date {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 2px;
  padding: 10px 0;
  flex: 1;
  border: 1px solid #ececec;
  border-top-left-radius: 25px;
}
.customers .booking-block .item-block .information .info-row .time {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 2px;
  padding: 10px 0;
  flex: 1;
  border: 1px solid #ececec;
  border-top-right-radius: 25px;
}
.customers .booking-block .item-block .information .info-row .location {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4px;
  padding: 10px 0;
  flex: 1;
  border: 1px solid #ececec;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.customers .booking-block .item-block .information .info-row span {
  color: #999999;
  font-size: 14px;
  font-family: 'MuliRegular';
}
.customers .booking-block .item-block .information .info-row a {
  font-size: 12px;
  text-decoration: none;
  font-family: 'MuliRegular';
}
.customers .booking-block .item-block .select-status {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.customers .booking-block .item-block .select-status .select {
  font-family: 'MuliRegular';
  color: #fff;
  width: 100%;
  border-radius: 25px;
  border: 1px solid #fff;
  padding: 10px 160px 10px 20px;
  outline: none;
}
.customers .booking-block .item-block .select-status .select:hover {
  cursor: pointer;
}
@media (max-width: 406px) {
  .customers .booking-block .item-block .select-status .select {
    padding: 10px 100px 10px 20px;
  }
}
@media (max-width: 345px) {
  .customers .booking-block .item-block .select-status .select {
    padding: 10px 40px 10px 20px;
  }
}
.customers .booking-block .item-block .select-status .select option {
  background-color: #fff;
  color: #000;
}
.customers .booking-block .item-block .select-status .select-approved {
  background-color: #3fb34f;
}
.customers .booking-block .item-block .select-status .select-rejected {
  background-color: #eb212e;
}
.customers .booking-block .item-block .select-status .select-pending {
  color: #000;
  background-color: #e1e1e1;
}
.table-pagination {
  margin: 20px 30px 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .table-pagination {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.table-pagination .left-table {
  display: inline-flex;
}
@media (max-width: 640px) {
  .table-pagination .left-table .select {
    display: inline-flex;
  }
}
.table-pagination .left-table .select .select-items {
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  padding: 10px 30px 10px 15px;
  outline: none;
}
.table-pagination .left-table .select .select-items:hover {
  cursor: pointer;
}
.table-pagination .left-table .select button {
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 25px;
}
.table-pagination .left-table .select button i {
  font-size: 16px;
  padding: 10px 15px;
}
.table-pagination .left-table .select button:hover {
  cursor: pointer;
}
.table-pagination .right-table {
  display: inline-flex;
  align-items: center;
}
@media (max-width: 465px) {
  .table-pagination .right-table {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.table-pagination .right-table .preview {
  word-spacing: 4px;
  font-family: 'MuliRegular';
  color: #999999;
  font-size: 16px;
}
@media (max-width: 830px) {
  .table-pagination .right-table .preview {
    display: none;
  }
}
.table-pagination .right-table .select {
  margin-left: 10px;
  margin-right: 10px;
}
.table-pagination .right-table .select .select-items {
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  padding: 10px 30px 10px 15px;
  outline: none;
}
.table-pagination .right-table .select .select-items:hover {
  cursor: pointer;
}
.table-pagination .right-table .pagination {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}
.table-pagination .right-table .pagination a {
  text-decoration: none;
  color: #000000;
}
.table-pagination .right-table .pagination .double-angle {
  background-color: #fff;
  border: 1px solid #999999;
  border-radius: 50%;
  padding: 10px 14px;
  font-size: 16px;
}
.table-pagination .right-table .pagination .angle-left {
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fff;
  border: 1px solid #999999;
  padding: 10px 13px;
  font-size: 16px;
}
.table-pagination .right-table .pagination .angle-right {
  margin-right: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  border: 1px solid #999999;
  padding: 10px 13px;
  font-size: 16px;
}
.table-pagination .right-table .pagination .number-page {
  display: flex;
  align-items: center;
  color: #999;
  padding: 8px;
  font-family: 'MuliRegular';
  background-color: #fff;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d8d8d8;
  border-radius: 25px;
  border: none;
  margin-right: 5px;
  margin-left: 5px;
}
@media (max-width: 306px) {
  .footer {
    height: 90px;
    border-radius: 15px;
  }
}
@media (max-width: 685px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer .left-part {
  margin: 20px 0 20px 50px;
}
@media (max-width: 306px) {
  .footer .left-part {
    margin: 0;
  }
}
.footer .left-part span {
  color: #999;
  font-family: 'MuliRegular';
}
@media (max-width: 463px) {
  .footer .left-part span {
    font-size: 14px;
  }
}
.footer .left-part a {
  text-decoration: none;
  color: #999;
  font-family: 'MuliRegular';
}
.footer .right-part {
  margin: 20px 30px 20px 0;
}
@media (max-width: 306px) {
  .footer .right-part {
    margin: 0;
  }
}
.footer .right-part span {
  color: #999;
  font-family: 'MuliRegular';
}
@media (max-width: 463px) {
  .footer .right-part span {
    font-size: 14px;
  }
}
.footer .right-part a {
  color: #f66761;
  text-decoration: none;
}
